In [1]:
import pandas as pd
df = pd .read_excel('d.xlsx')

In [2]:
df.iloc[:5]

      商品类别 rFBSo1500 FBPo1500    rFBS     FBP
0    美容和健康    12,00%   11,00%  18,00%  17,00%
1     美容设备    12,00%   11,00%  16,00%  15,00%
2   专业美容仪器     7,50%    6,50%   7,50%   6,50%
3    服装和配饰    12,00%   11,00%  20,50%  19,50%
4  季节服装和配饰    12,00%   11,00%  20,50%  19,50%

In [3]:
def percent2int(p:str):
    return int(p.replace('%','').replace(',',''))*0.0001

percent2int('7,50%')

0.075

In [4]:
df['rFBSo1500'] = df['rFBSo1500'].apply(percent2int)
df['FBPo1500'] = df['FBPo1500'].apply(percent2int)
df['rFBS'] = df['rFBS'].apply(percent2int)
df['FBP'] = df['FBP'].apply(percent2int)

In [5]:
df.head(5)

      商品类别  rFBSo1500  FBPo1500   rFBS    FBP
0    美容和健康      0.120     0.110  0.180  0.170
1     美容设备      0.120     0.110  0.160  0.150
2   专业美容仪器      0.075     0.065  0.075  0.065
3    服装和配饰      0.120     0.110  0.205  0.195
4  季节服装和配饰      0.120     0.110  0.205  0.195

In [13]:
category = "美容设备"
r = df.loc[df['商品类别'] == category]
r

   商品类别  rFBSo1500  FBPo1500  rFBS   FBP
1  美容设备       0.12      0.11  0.16  0.15

In [14]:
len(r)

1

In [8]:
rlist = list(r.values[0])
rlist

['美容设备', 0.12000000000000001, 0.11, 0.16, 0.15]

In [9]:
price = 65000

rFBS_over_1500 = round(price*rlist[1],2)
FBP_over_1500 = round(price*rlist[2],2)
rFBS = round(price*rlist[3],2)
FBP = round(price*rlist[4],2)

rFBS_over_1500,FBP_over_1500,rFBS,FBP

(7800.0, 7150.0, 10400.0, 9750.0)

In [16]:
categories = df['商品类别'].tolist()
categories[:5]

['美容和健康', '美容设备', '专业美容仪器', '服装和配饰', '季节服装和配饰']

In [18]:
import json

In [19]:
with open('categories.json', 'w', encoding='utf-8') as f:
    json.dump(categories, f, ensure_ascii=False, indent=4)

NameError: name 'product_categories' is not defined